body {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

div, p, button, span, a {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 570px;
    margin: 0 215px;
}

.header {
    background: url('../img/Layer_5.png') no-repeat;
    padding-top: 59px;
}
