body {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

div, p, button, span, a {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1{
    width: 428px;
    height: 57px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 34.2px;
    text-transform: uppercase;
}

.container {
    width: 570px;
    margin: 0 215px;
}

.header {
    background: url('../img/Layer_5.png') no-repeat;
    padding-top: 59px;
}

.offer{
    margin-top: 89px;
    margin-left: 72px;
    padding-bottom: 84px;
}
