body {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

div, p, button, span, a {
    box-sizing: border-box;
}

.container {
    width: 570px;
    margin: 0 auto;
}

.header {
    background: url('../img/Layer_5.png') no-repeat;

}