body {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

div, p, button, span, a {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1{
    width: 428px;
    height: 57px;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 34.2px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 580px;
    margin: 0 215px;
}

.header {
    background: url('../img/Layer_5.png') no-repeat;
    padding-top: 49px;

}

.offer{
    margin-top: 84px;
    margin-left: 69px;
    padding-bottom: 84px;

}
.twitter {
    width: 29px;
    height: 29px;
    margin-left: 373px;
}
.vk {
    padding-left: 3px;
    padding-right: 3px;
    width: 29px;
    height: 29px;
}
.fb {

    width: 29px;
    height: 29px;
}

.btn {
    background: #56ba5b;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    width: 188px;
    padding: 12px 0;
    text-align: center;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 192px;
    transition: all 0.5s ease;
    margin-bottom: 47px;
    border-radius: 5px;
}

.btn:hover {
    background: #399b3a;
}