body {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

div, p, button, span, a {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1{
    width: 428px;
    height: 57px;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 34.2px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 580px;
    margin: 0 215px;
}

.header {
    background: url('../img/Layer_5.png') no-repeat;
    padding-top: 49px;

}

.offer{
    margin-top: 84px;
    margin-left: 69px;
    padding-bottom: 84px;

}
.twitter {
    width: 29px;
    height: 29px;
    margin-left: 373px;
}
.vk {
    padding-left: 3px;
    padding-right: 3px;
    width: 29px;
    height: 29px;
}
.fb {

    width: 29px;
    height: 29px;
}

.btn {
    background: #56ba5b;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    width: 188px;
    padding: 12px 0;
    text-align: center;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 192px;
    transition: all 0.5s ease;
    margin-bottom: 47px;
    border-radius: 5px;
}

.btn:hover {
    background: #399b3a;
}

.merits {
    display: inline-flex;
    background: url("../img/20-layers.png") no-repeat;
    padding-top: 37px;
    padding-right: 77px;
    padding-left: 33px;
    padding-bottom: 5px;
}

.unit {
    width: 160px;
    background: url("../img/22-layers.png") no-repeat top center;
    padding-top: 70px;
    padding-left: 27px;

}

.unit p{
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.unit:nth-child(2){
    background: url("../img/23-layers.png") no-repeat top center;
    padding-right: 12px;
}

.unit:nth-child(3){
    background: url("../img/24-layers.png") no-repeat top center;
    padding-right: 15px;
}

.DISCOUNT h2{
    color: #7a695a;
    font-weight: 400;
    line-height: 34.2px;
    font-size: 14px;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    border: 1px solid #7a695a;
    margin: 47px 90px 43px 73px;
}

.order {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 32px;

}

.price {
    width: 245px;
    background: url("../img/Layer_31.png") no-repeat top center ;
    padding-top: 168px;
    padding-left: 46px;
}

.price p{
    color: #040506;
    font-size: 16px;
    font-weight: 400;
    line-height: 34.2px;
    text-transform: uppercase;
    padding-left: 35px;
    padding-top: 8px;
    margin-top: 25px;
}

.price:nth-child(2){
    background: url("../img/Layer_32.png") no-repeat top center;
}

.btn2 {
    background: #7a695a;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    width: 147px;
    padding: 12px 0;
    text-align: center;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    margin-bottom: 24px;
    margin-top: 15px;
    border-radius: 5px;
}

.btn2:hover {
    background: #564A40;
}

.order2 {
    background: url('../img/Shape_1.png') no-repeat;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 32px;
    padding-top: 24px;
}

.price2 {
    width: 245px;
    background: url("../img/Layer_41.png") no-repeat top center ;
    padding-top: 168px;
    padding-left: 46px;

}

.price2 p{
    color: #040506;
    font-size: 16px;
    font-weight: 400;
    line-height: 34.2px;
    text-transform: uppercase;
    padding-left: 35px;
    padding-top: 8px;
    margin-top: 25px;
}

.price2:nth-child(2){
    background: url("../img/Layer_42.png") no-repeat top center;
}

.btn2 {
    background: #7a695a;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    width: 147px;
    padding: 12px 0;
    text-align: center;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    margin-bottom: 24px;
    margin-top: 15px;
    border-radius: 5px;
}

.btn2:hover {
    background: #564A40;
}


